*{
  box-sizing: border-box;
}
nav {
    padding: 2%;
    background-color: #aaa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 3vw;
 }

 .right-nav{
   display: inline;
   position: absolute;
   right: 5%;
 }


 section{
   width: 95%;
   border: 1px solid black;
   padding: 0;
   display: block;
 }

 h1{
   display: block;
   font-size: 4vw;
   padding-top: 10%;
 }

 .right, .left{
  width: 48%;
  margin: 0;
  height: 75vh;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

 label, input, textarea{
   font-size: 2vw;
   position: relative;
   top: 30px;
   left: 5%;
   display: block;
   width: 50%;
 }

 .description{
    height: 50%;
    width: 85%;
 }

 .commission{
    width: 80%;
 }

 .terms-and-cond{
   width: 85%;
   height: 35%;
 }

 .img{
    margin-top: 5%;
    width: 80%;
 }

 #submit{
  margin-top: 40px;
  margin-left: 15%;
  width: 30%;
  height: 5%;
 }

 input{
   margin-bottom: 4%;
 }


 @media screen and (min-width: 1000px) {
    nav {
      font-size: 35px;
    }

    section{
      height: 90vh;
    }
  }